build
devel
logs
install
log
.*

input_csv/*
!input_csv/README.md
!input_csv/demo_transform_sim.csv
!input_csv/demo_transform_real.csv
!input_csv/demo_walk_sim.csv
!input_csv/demo_walk_real.

output_data/*
!output_data/README.md
